%div{id: 'fre_special_remote_from'}
  = semantic_form_for [:shop, @freight, @fre_special], remote: true do |f|
    = f.inputs do
      = f.input :first_cond
      = f.input :first_price
      = f.input :add_cond
      = f.input :add_price
      = f.submit
