= semantic_form_for [:admin, @reply_template] do |f|
  = f.inputs do
    = f.input :type_id, as: :select, include_blank: false, collection: TemplateType.all, require: true
    = f.input :content, require: true
    = f.actions
