- @comments = resource.comments.order_show
%div.info_show_comments
  %div
    %h2 #{resource.name}
  %div
    %span= resource.video_type&.name
    %span= resource.created_at.strftime('%F')
  %div.description{'data-desc': resource.description, style: 'text-align: center'}
  %div.views
    %span
      %span 阅读:
      %span.color-blue= resource.total_views
    %span
      %span 评论数:
      %span.color-blue= resource.total_comments
    %span
      %span 点赞数:
      %span.color-blue= resource.total_likes
  %div#comment
    %h3 评论列表：
    = render 'admin/comments/index'

= render 'marked_script'